<!DOCTYPE html>
<html lang="id">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>KEPOYA 🌸 - Home</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script>
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</head>
<body>

<div class="card">
    <h1 class="welcome-title">KEPOYA 💌</h1>
    <button class="btn-pink" data-url="/buat">Buat Pertanyaan ✨</button>
</div>

<script>
    document.addEventListener('click', function (e) {
        const btn = e.target.closest('button');
        if (!btn) return;

        const sound = new Audio("{{ url_for('static', filename='click.wav') }}");
        sound.play().catch(err => console.log("Audio diblokir browser sebelum interaksi"));

        const targetUrl = btn.getAttribute('data-url');

        if (targetUrl) {
            e.preventDefault(); 
            setTimeout(function() {
                window.location.assign(targetUrl);
            }, 400); 
        }
    });
</script>
</body>
</html>